In [64]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# EDA

##  1. Datasets de nivel Provincial

In [67]:
df1p=pd.read_csv("./DATA/1_Penetracion_Internet_Prov.csv",delimiter=',', quotechar='"', decimal=",", thousands=".")
df2p=pd.read_csv("./DATA/2_Acceso_Banda_Prov.csv",delimiter=',', quotechar='"', decimal=",", thousands=".")
df3p=pd.read_csv("./DATA/3_Acceso_IF_Tec_Prov.csv",delimiter=',', quotechar='"', decimal=",", thousands=".")
df4p=pd.read_csv("./DATA/4_VelocidadMB_IF_Prov.csv",delimiter=',', quotechar='"', decimal=",", thousands=".")
df5p=pd.read_csv("./DATA/5_Acceso_RangVel_Prov.csv",delimiter=',', quotechar='"', decimal=",", thousands=".")

### 1.1 EDA-DF1P

#### 1.1.1 VALORES UNICOS

In [68]:
print(list(df1p.columns))
print(df1p["Año"].unique().tolist())
print(df1p["Trimestre"].unique().tolist())
print(df1p["Provincia"].unique().tolist())
print(list(df2p.columns))
print(df2p["Año"].unique().tolist())
print(df2p["Trimestre"].unique().tolist())
print(df2p["Provincia"].unique().tolist())
print(list(df3p.columns))
print(df3p["Año"].unique().tolist())
print(df3p["Trimestre"].unique().tolist())
print(df3p["Provincia"].unique().tolist())
print(list(df4p.columns))
print(df4p["Año"].unique().tolist())
print(df4p["Trimestre"].unique().tolist())
print(df4p["Provincia"].unique().tolist())
print(list(df5p.columns))
print(df5p["Año"].unique().tolist())
print(df5p["Trimestre"].unique().tolist())
print(df5p["Provincia"].unique().tolist())

['Año', 'Trimestre', 'Provincia', 'Accesos por cada 100 hogares']
[2022, 2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014]
[3, 2, 1, 4]
['Buenos Aires', 'Capital Federal', 'Catamarca', 'Chaco', 'Chubut', 'Córdoba', 'Corrientes', 'Entre Ríos', 'Formosa', 'Jujuy', 'La Pampa', 'La Rioja', 'Mendoza', 'Misiones', 'Neuquén', 'Río Negro', 'Salta', 'San Juan', 'San Luis', 'Santa Cruz', 'Santa Fe', 'Santiago Del Estero', 'Tierra Del Fuego', 'Tucumán']
['Año', 'Trimestre', 'Provincia', 'Banda ancha fija', 'Dial up', 'Total']
[2022, 2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014]
[3, 2, 1, 4]
['Buenos Aires', 'Capital Federal', 'Catamarca', 'Chaco', 'Chubut', 'Córdoba', 'Corrientes', 'Entre Ríos', 'Formosa', 'Jujuy', 'La Pampa', 'La Rioja', 'Mendoza', 'Misiones', 'Neuquén', 'Río Negro', 'Salta', 'San Juan', 'San Luis', 'Santa Cruz', 'Santa Fe', 'Santiago Del Estero', 'Tierra Del Fuego', 'Tucumán']
['Año', 'Trimestre', 'Provincia', 'ADSL', 'Cablemodem', 'Fibra óptica', 'Wireless', 'Otros', 'Total']
['2022', '2021', '2020', '2019', '2019 *', '2018', '2017', '2016', '2015', '2014', '*']
['3', '2', '1', '4', '3 *', '2 *', '1 *', 'Los datos provinciales no coinciden a nivel nacional, ya que se rincorporó información que no contien apertuta a nivel geográfico.']
['Buenos Aires', 'Capital Federal', 'Catamarca', 'Chaco', 'Chubut', 'Córdoba', 'Corrientes', 'Entre Ríos', 'Formosa', 'Jujuy', 'La Pampa', 'La Rioja', 'Mendoza', 'Misiones', 'Neuquén', 'Río Negro', 'Salta', 'San Juan', 'San Luis', 'Santa Cruz', 'Santa Fe', 'Santiago Del Estero', 'Tierra Del Fuego', 'Tucumán', nan]
['Año', 'Trimestre', 'Provincia', 'Mbps (Media de bajada)', 'Unnamed: 4', 'Unnamed: 5']
[2022, 2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014]
[3, 2, 1, 4]
['Buenos Aires', 'Capital Federal', 'Catamarca', 'Chaco', 'Chubut', 'Córdoba', 'Corrientes', 'Entre Ríos', 'Formosa', 'Jujuy', 'La Pampa', 'La Rioja', 'Mendoza', 'Misiones', 'Neuquén', 'Río Negro', 'Salta', 'San Juan', 'San Luis', 'Santa Cruz', 'Santa Fe', 'Santiago Del Estero', 'Tierra Del Fuego', 'Tucumán']
['Año', 'Trimestre', 'Provincia', 'HASTA 512 kbps', '+ 512 Kbps - 1 Mbps', '+ 1 Mbps - 6 Mbps', '+ 6 Mbps - 10 Mbps', '+ 10 Mbps - 20 Mbps', '+ 20 Mbps - 30 Mbps', '+ 30 Mbps', 'OTROS', 'Total']
[2022, 2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014]
[3, 2, 1, 4]
['Buenos Aires', 'Capital Federal', 'Catamarca', 'Chaco', 'Chubut', 'Córdoba', 'Corrientes', 'Entre Ríos', 'Formosa', 'Jujuy', 'La Pampa', 'La Rioja', 'Mendoza', 'Misiones', 'Neuquén', 'Río Negro', 'Salta', 'San Juan', 'San Luis', 'Santa Cruz', 'Santa Fe', 'Santiago Del Estero', 'Tierra Del Fuego', 'Tucumán']

            verificamos que hay filas con datos incorretos, columnas de mas, algunas celdas tienen espacios en el contenido
            se procede a hacer la limpiesa de lo señalado

#### 1.1.2 Estandarizacion de Datos

            Verificamos Tabla por tabla, su dtype y nullos

In [5]:
print(df1p.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 4 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           840 non-null    int64
 1   Trimestre                     840 non-null    int64
 2   Provincia                     840 non-null    object
 3   Accesos por cada 100 hogares  840 non-null    float64
dtypes: float64(1), int64(2), object(1)
memory usage: 26.4+ KB
None

In [6]:
print(df2p.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Año               840 non-null    int64
 1   Trimestre         840 non-null    int64
 2   Provincia         840 non-null    object
 3   Banda ancha fija  840 non-null    int64
 4   Dial up           838 non-null    object
 5   Total             840 non-null    int64
dtypes: int64(4), object(2)
memory usage: 39.5+ KB
None

            Se procede a borrar nulo y colocar 0 para trasnformalos a enteros

In [69]:
df2p["Dial up"].replace("\D","",regex=True,inplace=True)
df2p["Dial up"].fillna(0,inplace=True)
df2p["Dial up"]=df2p["Dial up"].astype(np.int64)

In [80]:
print(df3p.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           840 non-null    int64
 1   Trimestre     840 non-null    int64
 2   Provincia     840 non-null    object
 3   ADSL          840 non-null    float64
 4   Cablemodem    840 non-null    float64
 5   Fibra óptica  840 non-null    float64
 6   Wireless      840 non-null    float64
 7   Otros         840 non-null    float64
 8   Total         840 non-null    float64
dtypes: float64(6), int64(2), object(1)
memory usage: 59.2+ KB
None

            Igual, se borran datos sobrantes y se rellena con 0

In [70]:
df3p.Año.replace("\D","",regex=True,inplace=True)
df3p.Año.replace("",0,inplace=True)
df3p.Año=df3p.Año.astype(np.int64)
df3p.Trimestre.replace("\D","",regex=True,inplace=True)
df3p.Trimestre.replace("",0,inplace=True)
df3p.Trimestre=df3p.Trimestre.astype(np.int64)
df3p.drop(840,inplace=True)

In [162]:
print(df4p.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Año                     840 non-null    int64
 1   Trimestre               840 non-null    int64
 2   Provincia               840 non-null    object
 3   Mbps (Media de bajada)  840 non-null    int64
 4   Unnamed: 4              0 non-null      float64
 5   Unnamed: 5              0 non-null      float64
dtypes: float64(2), int64(3), object(1)
memory usage: 39.5+ KB
None

            se extrae 3 columnas de la tabla

In [71]:
df4p=df4p[["Año","Trimestre","Provincia","Mbps (Media de bajada)"]]

In [72]:
print(df5p.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Año                  840 non-null    int64
 1   Trimestre            840 non-null    int64
 2   Provincia            840 non-null    object
 3   HASTA 512 kbps       840 non-null    int64
 4   + 512 Kbps - 1 Mbps  840 non-null    int64
 5   + 1 Mbps - 6 Mbps    840 non-null    int64
 6   + 6 Mbps - 10 Mbps   840 non-null    int64
 7   + 10 Mbps - 20 Mbps  840 non-null    int64
 8   + 20 Mbps - 30 Mbps  840 non-null    int64
 9   + 30 Mbps            840 non-null    int64
 10  OTROS                834 non-null    float64
 11  Total                840 non-null    int64
dtypes: float64(1), int64(10), object(1)
memory usage: 78.9+ KB
None

In [73]:
df5p.fillna(0,inplace=True)
df5p.OTROS=df5p.OTROS.astype(np.int64)
df5p=df5p.drop(columns="Total",axis=1)

            se procede a unir las tablas a usar

In [74]:
dft1=df1p.merge(df2p).merge(df3p).merge(df4p).merge(df5p)

In [75]:
dft1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 21 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           840 non-null    int64
 1   Trimestre                     840 non-null    int64
 2   Provincia                     840 non-null    object
 3   Accesos por cada 100 hogares  840 non-null    float64
 4   Banda ancha fija              840 non-null    int64
 5   Dial up                       840 non-null    int64
 6   Total                         840 non-null    int64
 7   ADSL                          840 non-null    float64
 8   Cablemodem                    840 non-null    float64
 9   Fibra óptica                  840 non-null    float64
 10  Wireless                      840 non-null    float64
 11  Otros                         840 non-null    float64
 12  Mbps (Media de bajada)        840 non-null    int64
 13  HASTA 512 kbps                840 non-null    int64
 14  + 512 Kbps - 1 Mbps           840 non-null    int64
 15  + 1 Mbps - 6 Mbps             840 non-null    int64
 16  + 6 Mbps - 10 Mbps            840 non-null    int64
 17  + 10 Mbps - 20 Mbps           840 non-null    int64
 18  + 20 Mbps - 30 Mbps           840 non-null    int64
 19  + 30 Mbps                     840 non-null    int64
 20  OTROS                         840 non-null    int64
dtypes: float64(6), int64(14), object(1)
memory usage: 137.9+ KB

        Se estandariza todos los titulos

In [76]:
dft1=dft1.rename(columns={"Trimestre":"Trim","Provincia":"Prov","Accesos por cada 100 hogares":"Accesx100hog",
                     "Banda ancha fija":"BandaAncha","Dial up":"BandaAngos","Fibra óptica":"FibraOpt","Otros":"Otros_Tec",
                     "Mbps (Media de bajada)":"MediaMbps","HASTA 512 kbps":"AR1_0.51Mbs",
                     "+ 512 Kbps - 1 Mbps":"AR2_0.75Mbs","+ 1 Mbps - 6 Mbps":"AR3_3.5Mbs",
                     "+ 6 Mbps - 10 Mbps":"AR4_8Mbs","+ 10 Mbps - 20 Mbps":"AR5_15Mbs",
                     "+ 20 Mbps - 30 Mbps":"AR6_25Mbs","+ 30 Mbps":"AR7_+30Mbs","OTROS":"Otros_Mbs"})

In [77]:
dft1.head(4)

,Año,Trim,Prov,Accesx100hog,BandaAncha,BandaAngos,Total,ADSL,Cablemodem,FibraOpt,...,Otros_Tec,MediaMbps,AR1_0.51Mbs,AR2_0.75Mbs,AR3_3.5Mbs,AR4_8Mbs,AR5_15Mbs,AR6_25Mbs,AR7_+30Mbs,Otros_Mbs
0,2022,3,Buenos Aires,78.11,4715469,6199,4721668,339648.0,2748325.0,1436433.0,...,70416.0,70,29985,27709,290315,297915,267044,124190,3618689,65821
1,2022,3,Capital Federal,122.28,1545534,2145,1547679,140791.0,1240125.0,129218.0,...,31787.0,101,517,5742,34371,67829,51946,28692,1253105,105477
2,2022,3,Catamarca,65.33,70292,1,70293,10010.0,10495.0,46224.0,...,2235.0,61,71,384,3107,5389,5099,3737,50298,2208
3,2022,3,Chaco,43.86,144141,5,144146,27164.0,61800.0,44645.0,...,2359.0,53,461,987,16782,18938,8049,15828,79390,3711

            Se exporta

In [101]:
dft1.to_csv("Data01.csv")

##  2. Datasets de nivel habitantes

In [81]:
df6p=pd.read_csv("./DATA/1.1_Penetracion_Internet_Per.csv",delimiter=',', quotechar='"', decimal=",", thousands=".")
df10p=pd.read_csv("./DATA/6_Ingresos_Internet_Per.csv",delimiter=',', quotechar='"', decimal=",", thousands=".")

### 2.1 EDA-DF1P

#### 2.1.1 VALORES UNICOS

In [82]:
print(list(df6p.columns))
print(df6p["Año"].unique().tolist())
print(df6p["Trimestre"].unique().tolist())
print(list(df10p.columns))
print(df10p["Año"].unique().tolist())
print(df10p["Trimestre"].unique().tolist())

['Año', 'Trimestre', 'Accesos por cada 100 hogares', 'Accesos por cada 100 hab', 'Periodo']
[2022, 2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014]
[3, 2, 1, 4]
['Año', 'Trimestre', 'Ingresos (miles de pesos)', 'Periodo']
[2022, 2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014]
[3, 2, 1, 4]

#### 2.1.2 Estandarizacion de Datos

    Verificamos Tabla por tabla, su dtype y nullos

In [55]:
print(df6p.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 5 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           35 non-null     int64
 1   Trimestre                     35 non-null     int64
 2   Accesos por cada 100 hogares  35 non-null     float64
 3   Accesos por cada 100 hab      35 non-null     float64
 4   Periodo                       35 non-null     object
dtypes: float64(2), int64(2), object(1)
memory usage: 1.5+ KB
None

In [57]:
print(df10p.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 4 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Año                        35 non-null     int64
 1   Trimestre                  35 non-null     int64
 2   Ingresos (miles de pesos)  35 non-null     int64
 3   Periodo                    35 non-null     object
dtypes: int64(3), object(1)
memory usage: 1.2+ KB
None

In [83]:
dft2=df6p.merge(df10p)

In [59]:
dft2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 6 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           35 non-null     int64
 1   Trimestre                     35 non-null     int64
 2   Accesos por cada 100 hogares  35 non-null     float64
 3   Accesos por cada 100 hab      35 non-null     float64
 4   Periodo                       35 non-null     object
 5   Ingresos (miles de pesos)     35 non-null     int64
dtypes: float64(2), int64(3), object(1)
memory usage: 1.8+ KB

            Se procede a ajustar los titulos y astype

In [84]:
dft2=dft2.rename(columns={"Accesos por cada 100 hogares":"Accesx100hog"})
dft2=dft2.rename(columns={"Accesos por cada 100 hab":"Accesx100hab"})
dft2=dft2.rename(columns={"Ingresos (miles de pesos)":"Ingresos($)"})
dft2["Ingresos($)"]=dft2["Ingresos($)"].astype(np.int64)
dft2=dft2.drop(columns="Periodo",axis=1)

In [85]:
dft2.head(4)

    Año  Trimestre  Accesx100hog  Accesx100hab  Ingresos($)
0  2022          3         76.64         23.95     67055930
1  2022          2         75.97         23.72     60335724
2  2022          1         73.88         23.05     55589997
3  2021          4         73.18         22.81     45467887

In [86]:
dft2.to_csv("Data02.csv")